/bin/
/public/*
/public/fileadmin/_temp_
/public/fileadmin/_processed_
/public/fileadmin/user_upload
!/public/fileadmin
!/public/.htaccess
/var/
/vendor/
/typo3_core/
*.idea
*.project

.env
.DS_Store
.history
/node_modules/*
